In [ ]:
from snowflake.snowpark.context import get_active_session
from snowflake.snowpark.functions import col,round,month,sum

In [ ]:
spark=get_active_session()
df=spark.sql("select * from INVENTORY_DB.PUBLIC.orders")

In [ ]:
df_2 = df.with_column('total_amount',round(col('order_amount')+col('tax_amount'),2))
df_2

In [ ]:
df_3=df_2.group_by(month('order_date')).agg(sum('total_amount').alias('Total_amount_by_month'))\
        .order_by('Total_amount_by_month')

In [ ]:
df_final=df_3.with_column_renamed("MONTH(ORDER_DATE)","month")

In [ ]:
df_final.write.mode("append").save_as_table(table_name='Month_Sales',table_type='transient')

In [ ]:
select * from month_sales;